@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *::-webkit-scrollbar {
    width: 0.25rem;
    background-color: #D1D5DB;
  }

  *::-webkit-scrollbar-track {
    background-color: #D1D5DB;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #374151;
  }
}